.image-text-panel {
  margin: 6rem 0;

  &__inner {
    @include panel-container;
    
    text-align: center;

    @include media-query(md) {
      align-items: center;
      display: flex;
    }
  
  }

  &__image {
    padding-bottom: 2rem;

    @include media-query(md) {
      padding-bottom: 0;
      width: 58%;
    }
    
    &--reverse {
      order: 2;
    }
    
    img {
      width: 100%;
    }
  }

  &__text {
    text-align: left;

    @include media-query(md) {
      padding: 0 3.5rem 0 0;
      width: 46%;
    }

    &--reverse {
      order: 1;

      @include media-query(md) {
        padding: 0 0 0 3.5rem;
      }
    }

    &-title {
      padding-bottom: 2rem;
    }

    &-summary {
      font-size: 1.125rem;
      line-height: 1.65;
      padding-bottom: 2.5rem;
    }
  }
}