.site-foot {
  // Reverse whatever the theme colors are
  background: var(--color-bg-light);
  border-top: 1px solid var(--color-stroke);
  color: var(--color-white);
  padding: get-size(700) 0 get-size(900) 0;

  &__wrapper {
    @include panel-container;
  }

  &__inner {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    @include media-query(md) {
      display: flex;
    }
  }

  &__details {
    --flow-space: 1em;
    max-width: 40ch;

    > * + * {
      margin-top: 1em;
      margin-top: var(--flow-space);
    }

    h2 {
      font-family: get-font(base);
      font-size: get-font-size(600);
    }
  }

  a {
    color: currentColor;

    &:hover {
      text-decoration: none;
    }
  }

  &__credit {
    text-align: center;
  }
}


.social-icons {
  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    &:not(:first-child) {
      margin-left: 0.5rem;
    }
  }
}