.site-foot {
  // Reverse whatever the theme colors are
  background: var(--color-bg-light);
  color: var(--color-text);
  padding: 5.5rem 0 4rem 0;
  position: relative;

  &::before {
    background-image: url(/images/logos/logo-pattern.svg);
    background-position: 0 -28px;
    background-repeat: repeat;
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.05;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__wrapper {
    @include panel-container;

    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    @include media-query(md) {
      display: flex;
    }
  }

  &__row {
    text-align: center;
  }

  &__tagline {
    font-weight: 300;
    padding-bottom: 8rem;
  }

  a {
    color: currentColor;

    &:hover {
      text-decoration: none;
    }
  }

  .site__logo {
    height: 42px;
    width: auto;
  }

}

.copyright {
  font-size: get-font-size(300);
}
