<header class="hero">
	<div class="hero__banner">
		<div class="hero__banner-img"></div>
	</div>
	<div class="hero__wrapper">
		<h1 class="hero__heading{{ ' hero__heading--compact' if page.url === '/' }}">{{ heroHeading | safe }}</h1>
		{% if heroSummary %}
		<div class="hero__summary">{{ heroSummary | safe }}</div>
		{% endif %}
	</div>
</header>

<style>
	{% cssBackground "banner.png", ".hero__banner-img", ['576', '600', '768', '992', '1280', '1920', '2560'] %}
</style>

