<a class="skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="site-head">
  <div class="site-head__wrapper">
    <div class="site-head__inner">
      <a href="/" class="site-head__site-name">
        <img class="site-head__logo" src="/images/main-logo.svg" />
        <img class="site-head__logo site-head__logo--dark" src="/images/main-logo-reverse.svg" />
      </a>
      {% set ariaLabel = 'navigation' %}
      {% include "partials/components/nav.njk" %}
      <theme-toggle></theme-toggle>
    </div>
  </div>
</header>
