<footer role="contentinfo" class="site-foot">
  <div class="site-foot__wrapper">
    <div class="site-foot__inner">

      <div class="site-foot__row">
        <ul class="social-icons__list">
          <li class="social-icons__item">
            <a href="#">
              {% include "icons/glassdoor.svg" %}
            </a>
          </li>
          <li class="social-icons__item">
            <a href="#">
              {% include "icons/linkedin.svg" %}
            </a>
          </li>
          <li class="social-icons__item">
            {% include "icons/youtube.svg" %}
          </a>
        </li>
        <li class="social-icons__item">
          <a href="#">
            {% include "icons/twitter.svg" %}
          </a>
        </li>
        <li class="social-icons__item">
          <a href="#">
            {% include "icons/facebook.svg" %}
          </a>
        </li>
      </ul>
    </div>

    <div class="site-foot__row">
      <div class="copyright rte">
        <p>Copyright ©<span id="copyright-year"></span> Armstrong Audiology & Hearing Aid Clinic. All rights reserved.</p>
        <script>
          document
            .getElementById('copyright-year')
            .innerText = new Date().getFullYear();
        </script>
      </div>
    </div>

  </div>
</div>
</footer>