{% extends 'layouts/base.njk' %}
{% from "macros/macros.njk" import component %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="post">
        <main id="main-content" tabindex="-1">
      {{ component('hero', {
        heroHeading: title,
        heroSummary: bannerSummary,
        heroImage: bannerImage
      }) }}
      <div class="post__body">
        {{ content | safe }}
        {% include "partials/components/contact-form.njk" %}
      </div>
    </article>
  </main>
{% endblock %}

{{ content | safe }}