{% extends 'layouts/base.njk' %}
{% from "macros/macros.njk" import component %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="post">
      {{ component('hero', {
        heroHeading: title,
        heroSummary: bannerSummary,
        heroImage: bannerImage
      }) }}
      {{ component('card-roll-up', {
        collection: collections[collectionName]
      }) }}
    </article>
  </main>
{% endblock %}
