{% extends 'layouts/base.njk' %}
{% from "macros/macros.njk" import component %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <main id="main-content" tabindex="-1">

    {{ component('hero', {
      heroHeading: title,
      heroSummary: bannerSummary,
      heroImage: bannerImage
    }) }}
    <div class="page__body">
      {{ content | safe }}
      {% include 'partials/components/page-sections.njk' %}
    </div>

  </main>
{% endblock %}

{{ content | safe }}
