{% extends 'layouts/base.njk' %}
{% from "macros/macros.njk" import component %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="post">
      {{ component('hero', {
        heroHeading: title,
        heroSummary: bannerSummary,
        heroImage: bannerImage
      }) }}
      <div class="post__body">
        {{ content | safe }}
        {% for block in page_sections %}
          {% if block.template === 'image-text-panel' %}
            {{ component('image-text-panel', {
              title: block.title,
              summary: block.summary,
              buttonText: block.buttonText,
              buttonPath: block.buttonPath,
              imageURL: block.imageURL,
              imageAlt: block.imagealt,
              imagePosition: block.imagePosition
            }) }}
            
          {% elseif block.template === 'text-area' %}
            <p>{{ block.text }}</p>
          {% endif %}
        {% endfor %}
      </div>
    </article>
  </main>
{% endblock %}

{{ content | safe }}
